<div class="layout layout--col">
  <span class="title row row--center lg:title--base mb--3" data-pixel-perfect="true">TrueNAS Recommended Versions</span>
  <table class="table lg:table--xlarge">
    <thead>
      <tr class="text--center">
        <th><span class="value--xsmall lg:value--small text--gray-30">Profile</span></th>
        <th><span class="value--xsmall lg:value--small text--gray-30">Enterprise</span></th>
        <th><span class="value--xsmall lg:value--small text--gray-30">Community</span></th>
      </tr>
    </thead>
    <tbody>
      {% for v in merge_variables.versions %}
      <tr class="text--center">
        <td><span class="value--xsmall lg:value--base" data-pixel-perfect="true">{{ v.profile }}</span></td>
        <td><span class="value--xsmall lg:value--base" data-pixel-perfect="true">{{ v.enterprise }}</span></td>
        <td><span class="value--xsmall lg:value--base" data-pixel-perfect="true">{{ v.community }}</span></td>
      </tr>
      {% else %}
      <td><span class="value--xsmall lg:value--base" data-pixel-perfect="true">{{ v.community }}</span></td>
      <td><span class="value--xxsmall p--12" data-pixel-perfect="true">No version data available</span></td>
      {% endfor %}
    </tbody>
  </table>
  <div class="value--xxsmall p--12" data-pixel-perfect="true">* TrueNAS recommends the default Mission Critical update profile for all TrueNAS Enterprise systems.</div>
</div>

<div class="title_bar">
  <span class="title" data-pixel-perfect="true">TrueNAS RV</span>
  <span class="instance">Last refresh: {{ merge_variables.refreshed_at }}</span>
</div>